<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Produto</title>
</head>
<body>
    <h2>Cadastrar Produto</h2>
    <form action="/cadastro_produto" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome"><br><br>
        <label for="preco">Preço:</label>
        <input type="text" id="preco" name="preco"><br><br>
        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" name="descricao"><br><br>
        <label for="img_link">Link da Imagem:</label>
        <input type="text" id="img_link" name="img_link"><br><br>
        <label for="categoria">Categoria:</label>
        <input type="text" id="categoria" name="categoria"><br><br>
        <label for="empresa">Empresa:</label>
        <input type="text" id="empresa" name="empresa"><br><br>
        <input type="submit" value="Salvar">
    </form>

    <a href="/">home</a><br>

</body>
</html>