<!DOCTYPE html>
<html>
<head>
    <title>Produtos Cadastrados</title>
</head>
<body>
    <h1>Produtos Cadastrados</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th>Descrição</th>
                <th>Empresa</th>
                <!--<th>Categoria</th>-->
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.preco }}</td>
                <td>{{ produto.descricao }}</td>
                <td>{{ produto.empresa.nome }}</td>
                <!--<td>{{ produto.categoria.nome }}</td>  </tr>-->
            {% endfor %}
        </tbody>
    </table>
</body>
</html>