<!DOCTYPE html>
<html>
<head>
    <title>Empresas Cadastradas</title>
</head>
<body>
    <h1>Empresas Cadastradas</h1>
    <table>
        <thead>
            <tr>
                <!--<th>Nome</th>-->
                <th>Login</th>
                <th>Email</th>
                <th>Telefone</th>
            </tr>
        </thead>
        <tbody>
            {% for empresa in empresas %}
            <tr>
                <!--<td>{{ empresa.nome }}</td>-->
                <td>{{ empresa.login }}</td>
                <td>{{ empresa.email }}</td>
                <td>{{ empresa.telefone }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>